
[http]
  [http.middlewares]
      [http.middlewares.redirect.redirectscheme]
	      scheme = "https"
	      permanent = true
      [http.middlewares.traefik-auth.basicauth]
        users = "{{ traefik_auth_credentials }}"

[tls]
  [[tls.certificates]]
    certFile = "{{ docker_data_dir }}/certbot/cert.pem"
    keyFile = "{{ docker_data_dir }}/certbot/key.pem"
